/* Table Styles */
.fl-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 1.2em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.fl-table td,
.fl-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.fl-table th {
    background-color: #f5f5f5;
}

.fl-table tbody tr:nth-child(even) {
    background-color: #fcfcfc;
}

.fl-table tbody tr:hover {
    background-color: #ddd;
}

.table_content_align {
    text-align: center;
}

table input {
    width: 92%;
    color: #525252;
    font-size: 16px;
    padding: 10px 0;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #e9d585;
    transition: all 0.2s ease;
}

table input.active {
    background: #ffcc00;
    pointer-events: auto;
    color: #000000;
}

table input:hover {
    background: #e6b801;
}

/* Media Queries for Mobile and Tablets */
@media only screen and (max-width: 767px) {

    .fl-table {
        font-size: 0.8em;
        min-width: none;

    }

    table input {
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .fl-table {
        /* font-size: 0.8em; */
        min-width: none;

    }

}