@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/static/images/Background.jpg');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

h4,
h2,
p {
    text-align: center;
}

h4 {
    font-size: 20px;
    color: #121212;
}

h2 {
    font-size: 32px;
    color: #121212;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #525252;
    margin-top: 15px;
}

.container {
    width: 80%;
    /* Adjusted width for larger screens */
    max-width: 600px;
    /* Added max-width for very large screens */
    margin: auto;
    /* Center the container */
    padding: 40px 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.input_field_box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    display: flex;
    flex-direction: row;
}

.input_field_box input {

    /* Adjusted input width */
    max-width: 20%;
    /* Max width for inputs */

    border: none;
    text-align: center;
    border-radius: 5px;
    background: #f0f0f0;
    font-size: 25px;
    height: 60px;
}

.input_field_box input::-webkit-inner-spin-button,
.input_field_box input::-webkit-outer-spin-button {
    display: none;
}

.input_field_box input:focus {
    outline: 1.5px solid #00b991;
    outline-offset: 2px;
}

form button {
    margin-top: 25px;
    width: 92%;
    color: #525252;
    font-size: 16px;
    padding: 10px 0;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    pointer-events: none;
    cursor: pointer;
    background: #e9d585;
    transition: all 0.2s ease;
}

form button.active {
    background: #ffcc00;
    pointer-events: auto;
    color: #000000;
}

form button:hover {
    background: #e6b801;
}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

/* Media Queries */

@media (max-width: 768px) {
    body {
        margin-top: 0;
    }

    .container {
        width: 90%;
        /* Adjusted width for smaller screens */
        padding: 20px;
    }

    .input_field_box input {
        width: 20%;
        /* Adjusted input width for smaller screens */
        max-width: none;
        /* Remove max-width for inputs */
    }
}