<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Scheduler</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favico.jpg') }}" />
    </head>


    <body>
        <header>
            <img src="{{ url_for('static', filename='images/Logo.png') }}">
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('add_course') }}">Add Courses</a></li>
                    <li><a href="#">Scheduler</a></li>
                    <li><a href="{{ url_for('help') }}">Help</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
        </header>
        <br>
        <main>
            <h1>Page under Construction</h1>
        </main>
    </body>

</html>