<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/Drop.js') }}"></script>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favico.jpg') }}" />
    </head>


    <body>

        <header>
            <img src="{{ url_for('static', filename='images/Logo.png') }}">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="{{ url_for('add_course') }}">Add Courses</a></li>
                    <li><a href="{{ url_for('scheduler') }}">Scheduler</a></li>
                    <li><a href="{{ url_for('help') }}">Help</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h1>Welcome {{ name }}!</h1>
            <h2>Here are your current registered courses:</h2>
        </main>

        <br>
        <main>
            <div class="container">
                {% if courses %}
                <h2>Your registered courses:</h2>

                <form action="" method="post">
                    <table class="fl-table">
                        <thead>
                            <tr>
                                <th>Course Title</th>
                                <th class="table_content_align">Course ID</th>
                                <th class="table_content_align">Instructor</th>
                                <th class="table_content_align">CRN</th>
                                <th class="table_content_align">Date</th>
                                <th class="table_content_align">Time</th>
                                <th class="table_content_align">Drop Course</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %}

                            <tr>
                                <td>{{ course["Title"] }}</td>
                                <td class="table_content_align">{{ course["Course_ID"] }}</td>
                                <td class="table_content_align">{{ course["Instructor"] }}</td>
                                <td class="table_content_align">{{ course["CRN"] }}</td>
                                <td class="table_content_align">{{ course["Days"] }}</td>
                                <td class="table_content_align">{{ course["Time"] }}</td>
                                <td class="table_content_align">
                                    <input type="hidden" name="course_key{{loop.index}}" value="{{ course['key'] }}"
                                        id="drop{{loop.index}}">
                                    <input type="submit" name="action" value="Drop"
                                        onclick="CourseDrop('{{loop.index}}')">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>

                {% else %}
                <h2>You do not currently have any registered courses. Why not add a course by clicking the button below?
                </h2>
                {% endif %}
            </div>
        </main>

    </body>

</html>