<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Token Verification</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registration.css') }}" />
</head>

<body>
    <div class="container">
        <!-- LOGN IN FORM by Omar Dsoky -->

        <h2>Log In</h2>
        <!--     A welcome message or an explanation of the login form -->
        <p>Login here using your username and password</p>
        <p>If you forgot your username, reset it by selecting following the steps here: </p>
        {% with messages = get_flashed_messages() %}
        {% if messages |count != 0 : %}
        <div class="alert" role="alert">
            {{ messages[-1] }}
        </div>
        {% endif %}
        {% endwith %}
        <form id="token" class="form" method="post" action="">
            <!--   con = Container  for items in the form-->
            <div class="input_field" id="form">

                <!--   user name Input-->
                <input class="form-input" id="txt-input" type="text" placeholder="Username" name="username"
                    value="{{ request.form['username'] }}">

                <!--   Password Input-->
                <input class="form-input" type="password" placeholder="Password" id="pwd" name="password"
                    value="{{ request.form['password'] }}">

            </div>
            <button type="submit" name="action" value="login">Log In</button>
            <button type="submit" name="action" value="forget_passw">Forgot Password</button>
            <button type="submit" name="action" value="register">Sign Up</button>
        </form>
        <!-- End Form -->
    </div>

</body>

</html>