<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Token Verification</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/token.css') }}" />
    </head>

    <body>
        <div class="container">
            <h2>Enter Your 4 Digit token</h2>
            <p>You could request the token by visiting the chatbot on <a href="t.me/regnotify_aucbot"> Regnotify </a>
                and
                starting a chat with
                the bot
                and
                select "Reset Password" from the options.</p>
            {% with messages = get_flashed_messages() %}
            {% if messages |count != 0 : %}
            <div class="alert" role="alert">
                {{ messages[-1] }}
            </div>
            {% endif %}
            <form id="token" class="form" method="post">

                <div class="input_field_box" id="otp">
                    <input type="number" id="otp1" name="otp1" value="{{ request.form['otp1'] }}" />
                    <input type="number" id="otp2" name="otp2" value="{{ request.form['otp2'] }}" disabled />
                    <input type="number" id="otp3" name="otp3" value="{{ request.form['otp3'] }}" disabled />
                    <input type="number" id="otp4" name="otp4" value="{{ request.form['otp4'] }}" disabled />

                </div>
                <button type="submit">Verify OTP</button>
            </form>

        </div>
        {% endwith %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/Token.js') }}"></script>
    </body>

</html>