<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Scheduler</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scheduler.css') }}" />
		<script type="text/javascript" src="{{ url_for('static', filename='js/scheduler.js') }}"></script>
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favico.jpg') }}" />
	</head>


	<body>
		<header>
			<img src="{{ url_for('static', filename='images/Logo.png') }}">
			<nav>
				<ul>
					<li><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('add_course') }}">Add Courses</a></li>
					<li><a href="#">Scheduler</a></li>
					<li><a href="{{ url_for('help') }}">Help</a></li>
					<li><a href="{{ url_for('contact') }}">Contact</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
				</ul>
			</nav>
		</header>
		<br>
		<main>
			<div class="centerer">
				<h1>Scheduler</h1>
				<p>Choose your courses and we will generate a schedule for you.</p>
				<p>For each course you are free to choose your Instructor and section or leave them empty if it does not
					matter.</p>
				<p>Please note that if a course has a hidden lab, please tick the hidden lab box.</p>
			</div>

			<form action="" method="post" autocomplete="off">

				<!-- Buttons Column -->
				<div class="centerer">
					<label for="StartTime">
						Start Time
						<select name="StartTime" id="StartTime" class="search__input" required>
							<option value="8:30">8:30 AM</option>
							<option value="10:00">10:00 AM</option>
							<option value="11:30">11:30 AM</option>
							<option value="14:00">2:00 PM</option>
							<option value="15:30">3:30 PM</option>
							<option value="17:00">5:00 PM</option>
							<option value="18:30">6:30 PM</option>
						</select>
					</label>
					<label for="EndTime">
						End Time
						<select name="EndTime" id="EndTime" class="search__input" required>
							<option value="11:30">11:30 AM</option>
							<option value="14:00">2:00 PM</option>
							<option value="15:30">3:30 PM</option>
							<option value="17:00">5:00 PM</option>
							<option value="18:30">6:30 PM</option>
							<option value="20:00">8:00 PM</option>
							<option value="21:30">9:30 PM</option>
							<option value="23:00" selected>11:00 PM</option>
						</select>
					</label>

					<label for="Semester">
						End Time
						<select name="Semester" id="Semester" class="search__input" required>
							{% for semester in semesters %}
							<option value="{{semester}}" selected="">{{semester}}</option>
							{% endfor %}
						</select>
					</label>
					<div class="column left-column">

						{% for i in range(1, iter) %}
						{% if i > 1 %}

						<button onclick="ShowCourse('{{loop.index}}')" type="button" hidden class="course-name"
							id="AddCourse{{loop.index}}">Add a
							Course</button>
						{% else %}
						<button onclick="ShowCourse('{{loop.index}}')" type="button" class="course-name"
							id="AddCourse{{loop.index}}">Add a Course</button>
						{% endif %}
						{% endfor %}
						<button type="submit" name="submit" value="submit" class="schedule-submit">Schedule
							Courses</button>

					</div>
				</div>
				<!-- </div> -->
				<!-- Courses Column -->
				{% for i in range(1, iter) %}

				<div class="column right-column" id="course-form-{{loop.index}}" name="course-form-{{loop.index}}"
					hidden>

					<h2>Course #{{loop.index}}</h2>
					<!-- Core radio buttons -->
					<div class="input_field" id="Core_Course">
						<p>Are you still unsettled about the Core Course? Tick yes to select all Core courses. </p>
						<div class="centerer">
							<div class="radio-inputs">
								<label class="radio">
									<input type="radio" name="Core_Course_{{loop.index}}" value="Other"
										onclick="CourseOption('{{loop.index}}')" checked>
									<span class="name">Other Courses</span>
								</label>
								<label class="radio">
									<input type="radio" name="Core_Course_{{loop.index}}" value="Core"
										onclick="CourseOption('{{loop.index}}')">
									<span class="name">Core Courses</span>
								</label>
							</div>
						</div>
					</div>

					<!-- Core Course -->

					<div class="course_schedule" id="core-course-form-{{loop.index}}" hidden>

						<div class="input_field">

							<label for="core_course" id="core">
								<div class="centerer">
									<input list="core_subjects" name="Core{{loop.index}}" id="Core_Course{{loop.index}}"
										class="search__input" oninput="CoreAPI('{{loop.index}}')"
										placeholder="Course Category">

									<datalist id="core_subjects">
										<option value="Pathways 1 - Sci. Encounters">
										<option value="Pathways 2 - Cult. Encounters">
										<option value="Humanities and Social Sciences">
										<option value="Arab World Studies">
										<option value="Arab World Studies - Egypt">
										<option value="Global Studies">
										<option value="Core Capstone">
										<option value="RHET 1010 & Core 1010">
									</datalist>
								</div>
							</label>

						</div>
						<div class="input_field">
							<input id="Core_Course_Name{{loop.index}}" type="text" name="Course"
								placeholder="Course Name/Title" class="search__input"
								list="Core_Course_Selector{{loop.index}}"
								oninput="FormControl('{{loop.index}}',1,'core')" disabled>
							<datalist id="Core_Course_Selector{{loop.index}}">
						</div>
						<div class="input_field">
							<input id="Core_Instructor{{loop.index}}" type="text" name="Instructor"
								placeholder="Instructor Name" class="search__input"
								list="Instructor_Selector{{loop.index}}"
								oninput="FormControl('{{loop.index}}',2,'core')" disabled>
							<datalist id="Instructor_Selector{{loop.index}}">
						</div>
						<div class="input_field">
							<input id="Core_Section{{loop.index}}" type="text" name="Section"
								placeholder="Section Number" class="search__input" list="Section_Selector{{loop.index}}"
								disabled oninput="FormControl('{{loop.index}}',3,'core')">
							<datalist id="Section_Selector{{loop.index}}">
						</div>
						<div class="input_field">
							<button type="button" name="scheduler" value="schedule" class="course-name"
								onclick="ShowNextCourse('{{loop.index + 1}}','core')">Add Course to Schedule</button>
							<button onclick="Clear('{{loop.index}}',0)" type="button" name="scheduler" value="schedule"
								class="clear">Clear</button>
						</div>
					</div>

					<!-- Normal Course -->
					<div class="course_schedule" id="normal-course-form-{{loop.index}}">
						<div class="input_field">
							<div class="centerer">
								<input type="hidden" id="Course{{loop.index}}" name="Course{{loop.index}}">

								<input list="Departments" id="Department{{loop.index}}" type="text" name="Department"
									placeholder="Department" class="search__input"
									oninput="CoursesAPI('{{loop.index}}')">

								<datalist id="Departments">
									{% for dep in departments %}
									<option value="{{dep}}">

										{% endfor %}
								</datalist>
							</div>
						</div>
						<div class="input_field">
							<input id="Course_Name{{loop.index}}" type="text" name="Course"
								placeholder="Course Name/Title" class="search__input"
								list="Course_Selector{{loop.index}}" oninput="FormControl('{{loop.index}}',1,'Normal')"
								disabled>
							<datalist id="Course_Selector{{loop.index}}">
						</div>
						<div class="input_field">
							<input id="HiddenLab{{loop.index}}" type="checkbox" name="HiddenLab{{loop.index}}"> Does the
							course have a hidden lab?
						</div>
						<div class="input_field">
							<input id="Instructor{{loop.index}}" type="text" name="Instructor"
								placeholder="Instructor Name" class="search__input"
								list="Instructor_Selector{{loop.index}}"
								oninput="FormControl('{{loop.index}}',2,'Normal')" disabled>
							<datalist id="Instructor_Selector{{loop.index}}">
						</div>
						<div class="input_field">
							<input id="Section{{loop.index}}" type="text" name="Section" placeholder="Section Number"
								oninput="FormControl('{{loop.index}}',3,'Normal')" class="search__input"
								list="Section_Selector{{loop.index}}" disabled>
							<datalist id="Section_Selector{{loop.index}}">

						</div>
						<input type="hidden" id="CRNS{{loop.index}}" name="CRNS{{loop.index}}" value="">
						<button onclick="ShowNextCourse('{{loop.index + 1}}','norm')" type="button" name="scheduler"
							value="schedule" class="course-name">Add Course
							to Schedule</button>
						<button onclick="Clear('{{loop.index}}',0)" type="button" name="scheduler" value="schedule"
							class="clear">Clear</button>
					</div>
				</div>

				{% endfor %}
				<input type="hidden" id="CRNS11" name="CRNS11" value="">
			</form>
		</main>

	</body>


</html>